In [1]:
#pandas 버전 확인
import pandas as pd
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 9d598a5e1eee26df95b3910e3f2934890d062caa
python           : 3.8.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : Korean_Korea.949

pandas           : 1.2.1
numpy            : 1.19.2
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.0.1
setuptools       : 52.0.0.post20210125
Cython           : 0.29.21
pytest           : 6.2.2
hypothesis       : None
sphinx           : 3.4.3
blosc            : None
feather          : None
xlsxwriter       : 1.3.7
lxml.etree       : 4.6.2
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.20.0
pandas_datareader: None
bs4              : 4.6.0
bottleneck       : 1.3.2
fsspec           : 0.8.3
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.2
numexpr          : 2.7.2
odfpy            : None
openpyxl         : 3.0.6
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.0
sqlalchemy       : 1.3.23
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.51.2

#훈련용 데이터파일 주피터로 로드하기

In [3]:
#warning 메시지 표시 안함
import warnings
warnings.filterwarnings(action = 'ignore')

import pandas as pd

In [11]:
#훈련용데이터파일 읽고, 데이터프레임 객체에 저장
nsmc_train_df = pd.read_csv('13-1_data\\ratings_train.txt', 
                           encoding = 'utf8', sep='\t', engine='python')

nsmc_train_df.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [13]:
#훈련용 데이터셋 정보 확인
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

#결측치제거하기

In [15]:
#document칼럼이 non-null인 샘플만 nsmc_train_df에 다시 저장
nsmc_train_df = nsmc_train_df[nsmc_train_df['document'].notnull()]

In [16]:
#수정된 nsmc_train_df의 정보를 다시 확인
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149995 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  149995 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [18]:
#감성분류 클래스의 구성 확인
nsmc_train_df['label'].value_counts()

##부정감성(0) 샘플이 75170개, 긍정감성(1) 샘플이 74825개

0    75170
1    74825
Name: label, dtype: int64

#한글 이외 문자 제거하기

In [19]:
import re

In [24]:
#ㄱ으로 시작하거나 가부터 힣까지의 문자를 제외한 나머지는 공백으로 치환
nsmc_train_df['document'] = nsmc_train_df['document'].apply(lambda x : re.sub(r'[^ ㄱ-ㅣ가-힣]+', "", x))

In [25]:
nsmc_train_df.head()

         id                                           document  label
0   9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1   3819312                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...      1

#평가용데이터준비

In [26]:
nsmc_test_df = pd.read_csv('13-1_data\\ratings_test.txt', 
                           encoding = 'utf8', sep='\t', engine='python')

nsmc_test_df.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [27]:
nsmc_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  49997 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [29]:
#document 칼럼이 NULL인 샘플 제거
nsmc_test_df = nsmc_test_df[nsmc_test_df['document'].notnull()]

In [31]:
nsmc_test_df['label'].value_counts()

1    25171
0    24826
Name: label, dtype: int64

In [32]:
nsmc_test_df['document'] = nsmc_test_df['document'].apply(lambda x : re.sub(r'[^ ㄱ-ㅣ가-힣]+', "", x))

#특성벡터화작업

In [33]:
#형태소 분석에 사용할 konpy 패키지의 Okt 클래스 임포트, 객체 생성
from konlpy.tag import Okt

okt = Okt()

In [35]:
#형태소 단위로 토큰화 작업을 수행하는 함수 정의
def okt_tokenizer(text):
    tokens = okt.morphs(text)
    return tokens

In [ ]:
#TF_IDF 벡터화에 사용할 tfidf 객체 생성

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(tokenizer = okt_tokenizer, ngram_range = (1,2),
                       min_df = 3, max_df = 0.9)
tfidf.fit(nsmc_train_df['document'])
nsmc_train_tfidf = tfidf.transform(nsmc_train_df['document'])

#감성분류모델구축하기

In [ ]:
from sklearn.linear_model import LogisticRegression

#객체 SA_lr 생성
SA_lr = LogisticRegression(random_state = 0)

In [ ]:
#nsmc_train_tfidf를 독립변수X, 나머지를 Y
SA_lr.fit(nsmc_train_tfidf, nsmc_train_df['label'])

In [ ]:
from sklearn.model_selection import GridSearchCV

params = {'C' : [1,3,3.5,4,4.5,5]}
SA_lr_grid_cv = GridSearchCV(SA_lr, param_grid=params, cv=3,
                            scoring='accuracy',verbose=1)

In [ ]:
SA_lr_grid_cv.fit(nsmc_train_tfidf, nsmc_train_df['label'])

In [ ]:
print(SA_lr_grid_cv.best_params_, round(SA_lr_grid_cv.best_score_,4))

In [ ]:
#최적 매개변수의 best 모델 저장
SA_lr_best = SA_lr_grid_cv.best_estimator_

#평가용 데이터를 이용하여 모델 정확도 확인하기

In [ ]:
#평가용 데이터의 피처 벡터화
nsmc_test_tfidf = tfidf.transform(nsmc_test_df['documents'])

In [ ]:
test_predict = SA_lr_best.predict(nsmc_test_tfidf)

In [ ]:
from sklearn.metrics import accuracy_score

print('감성분석정확도 : ', round(accuracy_score(nsmc_test_df['label'],
                                        test_predict),3))

In [ ]:
#새로운텍스트로 감성예측확인하기
st = input('감성 분석할 문장 입력 >> ')

In [ ]:
#0) 입력 테스트에 대한 전처리 수행
st = re.compile(r'[^ ㄱ-ㅣ가-힣]+').findall(st)
print(st)
st = ["".join(st)]
print(st)

In [ ]:
#1)입력테스트의 피처 벡터화
st_tfidf = tfidf.transform(st)

#2)최적 감성 분석 모델에 적용하여 감성 분석 평가
st_predict = SA_lr_best.predit(st_tfidf)

In [ ]:
#3) 예측값 출력하기
if(st_predict == 0):
    print(st , "->> 부정감성")
else :
    print(st , "->> 긍정감성")